<div class="knz-default__header-logo">
    <a [routerLink]="['/']" class="knz-default__header-logo-link">
        <ul>
            <li>
                <img src="/assets/images/logo.png" style="max-height:30px;" />
            </li>
            <li>
                <span>可视化多功能表单设计器Demo</span>
            </li>
        </ul>


    </a>
</div>
<div class="knz-default__nav-wrap">
    <ul class="knz-default__nav">


    </ul>
    <ul class="knz-default__nav">
        <li>
            <a [routerLink]="['/form']">常规表单</a>
        </li>

        <li>
            <a [routerLink]="['/survey']">问卷表单</a>
        </li>

    </ul>
</div>